<section class="sessions-new">

  <% provide(:title, "Log In") %>
  <header class="page-header">
    <h1>Log In</h1>
  </header>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |form| %>
        <div class="form-group">
          <%= form.label :email %>
          <%= form.email_field :email, class: 'form-control' %>

          <%= form.label :password %>
          <%= form.password_field :password, class: 'form-control' %>
        </div>

        <%= form.submit "Log in", class: "btn btn-primary" %>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
  
</section>