<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <div class="product-rating">
    <div class="rating">
      <% ratings_sum = 0 %>
      <% product.reviews.each do |review| %>
        <% ratings_sum += review.rating %>
      <% end %>
      <% avg_rating = product.reviews.count != 0 ? (ratings_sum / product.reviews.count).round : 0 %>
      <% (1..avg_rating).each do |i| %>
        <span class="fa fa-star checked"></span>
      <% end %>
      <% (1..(5 - avg_rating)).each do |i| %>
        <span class="fa fa-star"></span>
      <% end %>
    </div>
  </div>
  <footer class="actions">
    <%= button_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary' , method: :post do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <% if product.quantity == 0 %>
    <aside class="sold-out">
      SOLD OUT!
    </aside>
  <% end %>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
</article>
