<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Reviews</dt>
          <dd>
            <% if logged_in? %>
              <%= form_for [@product, @review] do |form| %>
                <div class="form-group">
                  <%= form.label :description %> |
                  <%= form.label :rating %>
                  <%= form.select :rating, options_for_select([1, 2, 3, 4, 5]) %>
                  <%= form.text_area :description, class: 'form-control' %>
                  <%= form.submit "Submit review", class: "btn btn-primary" %>
                </div>
              <% end %>
            <% end %>
            <% @product.reviews.reverse.each do |review| %>
              <div class="review well">
                <div class="review-heading">
                  <div class="reviewer">
                    <%= review.user.first_name %> <%= review.user.last_name %>
                  </div>
                  <div class="rating">
                    <% (1..review.rating).each do |i| %>
                      <span class="fa fa-star checked"></span>
                    <% end %>
                    <% (1..(5 - review.rating)).each do |i| %>
                      <span class="fa fa-star"></span>
                    <% end %>
                  </div>
                </div>
                <div class="review-content">
                  <%= review.description %>
                </div>
                <% if current_user == review.user %>
                  <%= link_to product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </dd>
        </dl>
      </div>
    </div>

  </article>

</section>
